<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="temple-icon" (click)="navigateTo('home')">
    <img width="40" alt="Restoration" src="../assets/img/temple-icon.png" />
  </div>
  <div *ngIf="innerWidth >= 495">
    <ul class="nav-list">
      <li (click)="navigateTo('home')" class="nav-list-item">
        <a class="nav-items">Home</a>
      </li>
      <li (click)="navigateTo('doctrines')" class="nav-list-item">
        <a class="nav-items">Core Doctrines</a>
      </li>
      <li (click)="navigateTo('first-vision')" class="nav-list-item">
        <a class="nav-items">First Vision Accounts</a>
      </li>
    </ul>
  </div>
  <div *ngIf="innerWidth < 495">
    <ion-icon
      name="list-outline"
      size="large"
      (click)="displayNavOptions($event)"
    ></ion-icon>
  </div>

  <div class="spacer"></div>
  <a
    class="youtube"
    aria-label="The Unfolding Restoration"
    target="_blank"
    rel="noopener"
    href="https://www.youtube.com/watch?v=ldlvC0yOkuw&list=PLxtDdds6EoqVut7DTobtRdyibQivL0jE7&ab_channel=DoctrineandCovenantsCentral"
    title="The Unfolding Restoration"
  >
    <svg
      id="youtube-logo"
      height="38"
      width="38"
      data-name="Logo"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="#fff"
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"
      />
    </svg>
  </a>
</div>

<div class="pages">
  <div [ngSwitch]="currentPage">
    <div *ngSwitchCase="'home'">
      <app-home [(currentPage)]="currentPage"></app-home>
    </div>
    <div *ngSwitchCase="'doctrines'">
      <app-core-doctrines></app-core-doctrines>
    </div>
    <div *ngSwitchCase="'first-vision'">
      <app-first-vision></app-first-vision>
    </div>
  </div>
</div>

<div class="footer-container">
  <div class="card-container footer-card-container">
    <span class="footer-title"> Restoration Basics </span>
    <a
      title="Official Website of the Church"
      href="https://www.churchofjesuschrist.org/"
      target="_blank"
      rel="noopener"
    >
      <img
        class="circle-link"
        src="../assets/img/the-church-of-jesus-christ-of-latter-day-saints.jpeg"
        alt="Church of Jesus Christ of Latter-day Saints"
        width="26"
        height="26"
      />
    </a>

    <a
      title="Joseph Smith Papers"
      href="https://www.josephsmithpapers.org/"
      target="_blank"
      rel="noopener"
    >
      <img
        class="circle-link"
        src="../assets/img/jsp.png"
        alt="Joseph Smith Papers"
        width="26"
        height="26"
      />
    </a>
  </div>
</div>

<router-outlet></router-outlet>
