.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.doctrine-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popover-container {
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
}
