<!-- Resources -->
<div class="content">
  <h2 style="text-align: center; font-size: 4em">
    Welcome to Restoration Basics
  </h2>
  <p style="text-align: center; font-size: 20px">
    This is a place you can come to experience the marvelous work of the
    Restoration
  </p>
</div>
<div
  style="
    background: url(../assets/img/firstvisionarial.jpg) no-repeat fixed center;
    padding-bottom: 350px;
    margin-top: -50px;
  "
>
  <div class="content" role="main">
    <div style="padding-top: 20px">
      <div class="card-container">
        <div (click)="cardClickEvent('doctrines')">
          <a class="card">
            <h4>Core Doctrines</h4>
            <svg
              class="material-icons"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
            </svg>
          </a>
        </div>
        <div (click)="cardClickEvent('first-vision')">
          <a class="card">
            <h4>First Vision Accounts</h4>
            <svg
              class="material-icons"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <p style="text-align: center">
      Disclaimer: This is not an official website of the Church of Jesus Christ
      of Latter-day Saints
    </p>
  </div>
</div>
